  body {
    background: url(../headerimg/tile2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header {
    padding: 60px;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 30px;
  }

  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../headerimg/roses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 10px;
  }

  h3 {
    font-family: cursive;
    font-size: 2em;
    text-align: center;
  }

  h4 {
    font-family: cursive;
    margin-top: 30px;
    font-size: 1.3em;
    text-align: center;
  }

  section {
    width: 1200px;
    height: 300px;
    margin: auto;
    margin-top: 15px;
    border: 4px solid rgb(156, 45, 45);
  }

  .img {
    background-color: rgb(65, 57, 57);
    width: 300px;
    height: 240px;
    padding: 2px;
    /* text-align: center; */
    margin: 40px;
  }

  #myChart {
    width: 960px;
    height: 400px;
    margin: auto;
    margin-top: px;
  }

  .results {
    background: rgb(156, 45, 45);
    color: white;
    text-align: center;
    border: 1px solid black;
    width: 50px;
    height: 10px;
    margin: auto;
    margin-top: 15px;
    padding: 1%;
  }

  .results:hover {
    border: 0.5em solid rgb(75, 61, 61);
    color: rgb(75, 61, 61);
  }